# Ignorar entorno virtual
venv/

# Cachés de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.bak

# Entornos y configuraciones ocultas
.env
.ipynb_checkpoints/

# Archivos de VSCode
.vscode/

# Carpeta con los resultados
results/
